GEMINI_API_KEY="<gemini api key>"

# --- MariaDB Configuration ---
DB_HOST       = "<hostname>"
DB_USER       = "<user>"
DB_PASSWORD   = "<password>"
DB_DATABASE   = "<db name>"
DB_PORT       = 3306

# --- MQTT Configuration ---
MQTT_BROKER   = "<broker>"
MQTT_USER     = "<user>"
MQTT_PASSWORD = "<password>"
MQTT_PORT     = 1883

# --- SMTP Configuration ---
SMTP_SERVER   = "<server>"
SMTP_PORT     = 587
SMTP_USER     = "<user>"
SMTP_SENDER   = "<sender>"
SMTP_PASSWORD = "<password>"
SMTP_RECEIVER = "<receiver>"
